.psychologistSchedule {
    width: 100%;
    height: 100%;
    color: #eee;

    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(90deg, #0a84e3 0%, #0a9be3 100%);
}

.psychologistSchedule .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.psychologistSchedule .content .alert {
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
}

.psychologistSchedule .content .form {
    background-color: #eee;
    width: 1000px;
    height: 800px;
    border-radius: 15px;
    padding-top: 1.5rem;
}

.psychologistSchedule .content .formContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.psychologistSchedule .content .form .legend {
    color: #07387e;
    padding: 0 1.5rem 0 1.5rem;
    font: 700 1.5rem Poppins;
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-bottom: 1rem;
    border-bottom: 1px solid #0459ae;
}

.psychologistSchedule .content .form button {
    background: none;
    border: none;
    font: 700 1rem Poppins;
    color: #0459ae;
    cursor: pointer;
    transition: color 0.2s;
}
.psychologistSchedule .content .form button:hover {
    color: #07387e;
}

.psychologistSchedule .content .form .schedule {
    width: 90%;
    height: 640px;
    overflow: auto;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #0459ae;
}
.psychologistSchedule .content .form .schedule .schedule-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.psychologistSchedule .content .form .schedule .select-box,
.input-box {
    display: flex;
    flex-direction: column;
}

.psychologistSchedule .content .form .schedule .input-box label {
    margin-left: 20px;
}

.psychologistSchedule .content .form .schedule label {
    font: 500 0.8rem Poppins;
    color: #c4c4c4;
    margin-top: 20px;
}
.psychologistSchedule .content .form .schedule select {
    color: #07387e;
    padding: 0;
    background: none;
    border: none;
    border-bottom: 2px solid #0459ae;
    outline: 0;
    font-size: 1rem;
}

.psychologistSchedule .content .form .schedule input {
    color: #07387e;
    height: 35px;
    width: 150px;
    margin: 0 0 0 20px;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    outline: 0;
    padding: 0 1.6rem;
    font-size: 1rem;
}

.psychologistSchedule .content .form .schedule button {
    margin-left: 40px;
    margin-top: 50px;
}

.psychologistSchedule .content .form .footer {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.psychologistSchedule .content .form .footer .link {
    margin-right: 500px;
    text-decoration: none;
    color: #0459ae;
    transition: 0.2s;
}

.psychologistSchedule .content .form .footer .link:hover {
    color: #07387e;
}

.psychologistSchedule .content .form footer button {
    cursor: pointer;
    padding: 0.6rem;
    margin: 1.2rem;
    border-radius: 8px;
    color: #eee;
    background-color: #0459ae;
    transition: 0.2s;
}
.psychologistSchedule .content .form footer button:hover {
    color: #eee;
    background-color: #07387e;
}
