.psychologistSchedule {
    width: 100%;
    height: 100vh;
    color: #eee;

    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #0a84e3 0%, #0a9be3 100%);
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content .form {
}
