.page-landing {
    margin: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.page-landing .content {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.page-landing .content .main {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 108vh;
}

.page-landing .content .main .landing-img {
    width: 60vw;
}

.page-landing .content .main .wave-animation {
    width: 100%;
}

.page-landing .content .main .wave-animation .wave {
    width: 100%;
    height: 129px;
    background: url(../../assets/images/wave.svg);
    background-size: auto 100%;
}

.page-landing .content .main .wave-animation .wave.wave1 {
    animation: 3000s linear 1s infinite animate;
    z-index: 10;
    position: relative;
    top: 177px;
    left: 0;
    opacity: 1;
    bottom: 0;
}
.page-landing .content .main .wave-animation .wave.wave2 {
    animation: 2500s linear -7s infinite animate2;
    z-index: 9;
    position: relative;
    top: 50px;
    left: 0;
    opacity: 0.5;
    bottom: 10px;
}
.page-landing .content .main .wave-animation .wave.wave3 {
    animation: 2200s linear -3s infinite animate;
    z-index: 8;
    position: relative;
    top: -60px;
    left: 0;
    opacity: 0.2;
    bottom: 15px;
}
@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 100000%;
    }
}
@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 100000%;
    }
}

.page-landing .content .main .above-img {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 25px;

    width: 100%;
}

.page-landing .content .main .above-img h1 {
    font-weight: 700;
    font-size: 84px;
    line-height: 80px;
    color: #eee;
}

.page-landing .content .main .above-img h2 {
    font-weight: 500;
    font-size: 23px;
    color: #eee;
}

.page-landing .content .main .above-img .buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-landing .content .main .above-img .buttons-container .btts{
    display: flex;  
}

.page-landing .content .main .above-img .buttons-container a {
    width: 240px;
    height: 60px;

    border-radius: 40px;
    font: 500 32px "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.8));
    transition: background-color 0.2s;
}

.page-landing .content .main .above-img .buttons-container a:first-child {
    margin-right: 40px;
}

.page-landing .content .main .above-img .buttons-container a.registration {
    background: none;
    border: 4px solid #3d7dca;
    color: #eeeeee;
}

.page-landing .content .main .above-img .buttons-container .know-more-btn {
    font: 500 26px "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;

    margin-top: 15px;
    color: #eee;
    transition: 0.2s all;
}

.page-landing .content .main .above-img .buttons-container .know-more-btn img {
    height: 12px;
    margin-left: 8px;
}

.page-landing
    .content
    .main
    .above-img
    .buttons-container
    .know-more-btn:hover {
    opacity: 0.3;
}

.page-landing
    .content
    .main
    .above-img
    .buttons-container
    a.registration:hover {
    background: #3d7dca;
}

.page-landing .content .main .above-img .buttons-container a.login {
    background: #eeeeee;
    color: #0459ae;
}

.page-landing .content .main .above-img .buttons-container a.login:hover {
    background: #3d7dca;
    color: #eeeeee;
}

.page-landing .content .about {
    background-color: #eee;
    margin-top: -128px;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding-top: 100px;

    width: 100%;
}

.title-hiw {
    display: flex;
    justify-self: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.title-hiw h2 {
    margin: 0;
    margin-left: 10px;
}

.about .content-about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.content .about .title{
    font-size: 40px;
    color: #003A70 !important;
    font-weight: 700;
    margin-bottom: 15px;
}

.page-landing .content .about h2 {
    margin-top: 20px;
    text-align: justify;
    font-size: 20px;
    padding-right: 60px;
}

.page-landing .content .how-it-work {
    background-color: #eee;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 65px;
}

.page-landing .content .how-it-work h1 {
    font-size: 40px;
    color: #003A70 !important;
    font-weight: 700;
    margin-bottom: 25px;
}

.content-about .summary {
    width: 50%;
}

.summary span {
    color: #003A70;
    font-weight: 700;
}

.summary li {
    color: #6b7177;
}

.summary .content {
    margin-top: 10px !important;
}

.hiw-content {
    color: #6b7177;
}

.page-landing .content .how-it-work .hiw-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.page-landing .content .faq {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding-top: 100px;

    width: 100%;
    height: 900px;

    color: #eee;
}

.content .faq h2 {
    color: #fff;
    font-weight: bold;
}

.page-landing .content .faq .faq-questions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 0 20px;
    margin-top: 75px;
}

.page-landing .content .who-behind {
    background-color: #eee;
    margin-top: -128px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 25px 0;
}

.page-landing .content .who-behind h1 {
    color: #003A70;
    font-weight: 700;
    margin-bottom: 30px;
}

.page-landing .content .who-behind h2 {
    margin-top: 10px;
    width: 80%;
    text-align: justify;
    font-size: 20px;
}

.page-landing .content footer {
    padding: 0 20px;
    height: 200px;
    display: flex;
    align-items: center;
}

.page-landing .content footer img {
    width: 250px;
}

.professionals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 7em;
    grid-row-gap: 2rem; 
    justify-content: space-between;
    align-content: space-around;
}

.professional {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.professional img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.professional .colaborator_name {
    margin-top: 8px;
    color: #003A70;
    font-weight: bold;
}

@media only screen and (max-width: 1000px) {
    .page-landing .content .main .landing-img {
        width: 85vw;
    }
    
    .page-landing .content .main .above-img h1 {
        font-size: 48px;
        margin-bottom: 10px;
    }
    .page-landing .content .main .above-img h2 {
        padding: 0 10px;
        margin-bottom: 10px;
        text-align: justify;
        font-size: 20px;
    }

    .page-landing .content .main .above-img {
        flex-direction: column;
    }

    .page-landing .content .main .above-img .buttons-container{
        margin-top: 30px;
    }

    .page-landing .content .main .above-img .buttons-container a {
        width: 150px;
        height: 45px;
        font-size: 20px;
    }
    .page-landing .content .main .above-img .buttons-container .know-more-btn {
        font-size: 20px;
    }
    .page-landing .content .main .above-img .buttons-container a:first-child {
        margin-right: 15px;
    }
    .page-landing .content .about{
        height: auto;
        padding-bottom: 60px;
    }
    .page-landing .content .about h1{
        font-size: 26px;
    }
    .page-landing .content .about h2 {
        margin-top: 50px;
        font-size: 16px;
    }
    .page-landing .content .how-it-work h1{
        font-size: 26px;
    }
    .page-landing .content .how-it-work h2{
        font-size: 22px;
    }
    .page-landing .content .how-it-work {
        margin-top: 0px;
    }
    .page-landing .content .how-it-work .hiw-cards {
        flex-direction: column;
    }
    .hiw-card {
        margin-left: 0px !important; 
        margin-bottom: 10px;
    }
    .page-landing .content .how-it-work {
        height: auto;
        padding: 0 0 40px 0;
    }
    .page-landing .faq-card {
        margin-left: 15px;
        margin-right: 15px;
    }
    .page-landing .content .faq {
        height: auto;
        margin-bottom: 60px;
    }
    .page-landing .content .who-behind {
        height: auto;
        padding-bottom: 50px;
    }
    .page-landing .content .who-behind h1{
        font-size: 26px;
    }
    .page-landing .content .who-behind h2{
        margin-top: 50px;
        font-size: 16px;
    }
    .page-landing h1, h1 {
        text-align: center;
    }
    .page-landing .content footer {
        height: 100%;
    }

    .about .content-about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about .content-about .summary {
        width: 80%;
        margin-top: 20px;
        text-align: justify;
    }

    .professionals {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2em;
    }

    @keyframes animate {
        0% {
            background-position-x: 0;
        }
        100% {
            background-position-x: 10000%;
        }
    }
    @keyframes animate2 {
        0% {
            background-position-x: 0;
        }
        100% {
            background-position-x: 10000%;
        }
    }
}
@media only screen and (max-width: 315px) {
    .page-landing .content .main .above-img .buttons-container a {
        width: 110px;
        height: 35px;
        font-size: 14px;
    }
}