version: '3.8'

services:

    e-saude-frontend:
        build:
            context: .
            dockerfile: Dockerfile
        image: e-saude-frontend
        ports:
            - 3000:3000
        # volumes:
        #     - '.:/app'
        #     - '/app/node_modules'
        environment:
            # - NODE_ENV=development
            - REACT_APP_BACKEND_URL=http://localhost:8000
        stdin_open: true
        tty: true
        