.signUp01Container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #003A70;
}

.signUp01Container .content {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.signUp01Container .section {
    width: 40vw;
}

.signUp01Container .section img {
    width: 120%;
    max-width: 1300px;
}

.signUp01Container .section p {
    font: 500 24px "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
}

.signUp01Container .section p:first-of-type {
    margin-top: 50px;
    font: 700 66px "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 53px;
}

.signUp01Container .form {
    height: 700px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: #eee;
    border-radius: 15px;
    padding: 80px 60px 95px 60px;

    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25);

    color: #003A70;
}

.signUp01Container .form span {
    font: 500 26px "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.signUp01Container .form .input {
    display: flex;
    border-bottom: 3px solid #003A70;
}

.signUp01Container .form input {
    width: 320px;
    height: 33px;

    background-color: transparent;
    color: #003A70;
    border: 0;

    font-size: 18px;
    line-height: 27px;
}

.signUp01Container .form input::placeholder {
    color: #909090;
}

.signUp01Container .form .selects select {
    width: 150px;
    height: 33px;

    border-radius: 5px;
    font-size: 18px;
    line-height: 27px;
}

.signUp01Container .form .signUp01Fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    height: 400px;
    margin: 40px 0px 40px 0px;
}

.signUp01Container .form .button {
    width: 200px;
    height: 50px;

    border-radius: 25px;
    border: 0;
    color: #fff;
    background-color: #003A70;

    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
    line-height: 36px;
}
.signUp01Container .form .alertContent {
    height: 30px;
}

.signUp01Container .alert {
    position: fixed;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
}

.signUp01Container .form p {
    color: red;
    text-align: left;
    width: 320px;
    font-size: 14px;
}
.signUp01Container .form .back {
    text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
    .signUp01Container .content {
        background-image: url('../../assets/images/logo.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    .signUp01Container .form {
        height: auto;
        width: 330px;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .signUp01Container .form input {
        width: 240px;
        font-size: 14px;
    }
    .signUp01Container .form span {
        font: 500 20px "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin-bottom: 30px;
    }
    .signUp01Container .form .button {
        width: 120px;
        height: 35px;
        font-size: 16px;
    }
    .signUp01Container .form a {
        font-size: 12px;
    }
    .signUp01Container .form .alertContent {
        width: 240px;
    }
    .signUp01Container .form p {
        width: 240px;
        font-size: 10px;
    }
    .signUp01Container section.section.logoImg {
        display: none;
    }
}
@media only screen and (max-width: 320px) {
    .signUp01Container .form {
        width: 90%;
    }
}
