.signUp01Container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(90deg, #0a84e3 0%, #0a9be3 100%);
}

.signUp01Container .content {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.signUp01Container .section img {
    width: 678px;
    height: 341px;
}

.signUp01Container .section p {
    color: #fff;
}

.signUp01Container .section p:first-of-type {
    font-size: 48px;
    line-height: 53px;
}

.signUp01Container .form {
    height: 700px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: #eee;
    border-radius: 15px;
    padding: 80px 60px 95px 60px;

    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25);

    color: #0459ae;
}

.signUp01Container .form span {
    font: 500 26px Poppins;
}

.signUp01Container .form .input {
    display: flex;
    border-bottom: 3px solid #0459ae;
}

.signUp01Container .form input {
    width: 320px;
    height: 33px;

    background-color: transparent;
    color: #0459ae;
    border: 0;

    font-size: 18px;
    line-height: 27px;
}

.signUp01Container .form input::placeholder {
    color: #909090;
}

.signUp01Container .form .selects select {
    width: 150px;
    height: 33px;

    border-radius: 5px;
    font-size: 18px;
    line-height: 27px;
}

.signUp01Container .form .signUp01Fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
}

.signUp01Container .form .button {
    width: 200px;
    height: 50px;

    border-radius: 25px;
    border: 0;
    color: #fff;
    background-color: #0459ae;

    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
    line-height: 36px;
}
.signUp01Container .form .alertContent {
    height: 30px;
}

.signUp01Container .alert {
    position: fixed;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
}

.signUp01Container .form p {
    color: red;
    text-align: left;
    width: 320px;
    font-size: 14px;
}
.signUp01Container .form .back {
    text-decoration: underline;
}