#menu *{
    font-family: "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif, sans-serif;
    font-style: normal;
    font-weight: normal;
}

#menu #icone{
    padding: 24px;
}

#menu a#name {
    text-decoration: none;
    color: inherit;
    color: white;
    padding: 16px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(90deg, #0A84E3 0%, #0A9BE3 100%);
}
/*Alinha a direita*/
#menu li {
    float: right;
}

#menu #name{
    float: left;
    font-size: 30px;
}

#menu a #icone{
    background-color: red;
}

#menu li a {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    margin-right: 70px;
    width: 100%;
}

#menu li a:hover {
    background: linear-gradient(90deg, rgb(10, 102, 173) 0%, rgb(9, 121, 177) 100%);
}

#menu .logo{   
    padding: 25px 30px 10px 30px;
}

#menu a#icone {
    padding: 22px;
}