.patientRecord {
  width: 100%;
  height: 100%;
  color: #eee;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(90deg, #0a84e3 0%, #0a9be3 100%);
}

.patientRecord .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.patientRecord .patientInfo {
  display: flex;
  font: 500 18px Poppins;
  color: #07387e;
  background-color: #eee;
  border-radius: 15px;
  line-height: 3rem;

  width: 1400px;
}

.patientRecord .patientInfo .patient {
  display: flex;
  align-items: center;
  width: 100%;
}

.patientRecord .patientInfo .patient .patientImg {
  height: 125px;
  border-radius: 25%;
  margin: 1rem 2rem 1rem 1rem;
}
.patientRecord .patientInfo .patient .info {
  width: 1400px;
  display: flex;
  flex-direction: column;
}

.patientRecord .patientInfo .patient .info span {
  margin-right: 2rem;
}

.patientRecord .patientInfo .patient .info .prop {
  font-weight: bold;
  margin-right: 0;
}

.patientRecord .patientInfo .patient .info .name {
  width: 90%;
  display: block;
}

.patientRecord .patientInfo .patient .info .expand {
  width: 3rem;
  height: 3rem;
  align-self: center;
  border: none;
}

.patientRecord .patientInfo .patient .info .expand:focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

.patientRecord .patientInfo .patient .info .expand img {
  width: 2.5rem;
  height: 2.5rem;
}

.patientRecord .patientInfo .patient .info .emailAndPhone {
  display: flex;
  flex-direction: row;
}

.patientRecord .patientHistory {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.patientRecord .patientHistory .tab {
  margin-top: 3rem;
  width: 1400px;

  overflow: hidden;
  background-color: none;
}

.patientRecord .patientHistory .tab button {
  width: 233.3px;
  margin-bottom: -10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);

  font: 500 14px Poppins;
  color: #eee;
  float: left;
  background-color: #197fe5;
  border: none;
  border-radius: 0.7vw;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.2s;
  outline: none;
}

.patientRecord .patientHistory .tab button:focus{
  background-color: #eee !important;
  color: #0459ae;
}

.patientRecord .patientHistory #mostrarTodos {
  background-color: #197fe5;
  float: left;
}
.patientRecord .patientHistory #mostrarTodos:hover {
  background-color: #0459ae;
}
.patientRecord .patientHistory #novoAtendimento {
  float: right;
  background-color: #0459ae
}
.patientRecord .patientHistory #novoAtendimento:hover {
  background-color: #197fe5;
}

.patientRecord .patientHistory .tab button:hover {
  background-color: #0459ae;
}

.patientRecord .patientHistory .tabContent {
  display: flex;
  flex-direction: column;

  font: 500 14px Poppins;
  color: #000;
  background-color: #eee;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 1400px;
  padding: 1rem 2rem 0 2rem;
  height: 550px;

  overflow: auto;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #197fe5;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0459ae;
}

.patientRecord .patientHistory .tabContent h1,
h2 {
  margin: 1rem 0 1.5rem 0;
  color: #07387e;
}

.patientRecord .patientHistory .tabContent h1 {
  font-size: 32px;
}

.patientRecord .patientHistory .tabContent h2 {
  font: 100 16px Poppins;
  line-height: 1rem;
}

.patientRecord .patientHistory .tabContent p {
  line-height: 2rem;
}

.patientRecord .patientHistory .tabContent .recordText {
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.5rem;
}

.patientRecord .sessionTab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: 500 1.2rem Poppins;
  color: #07387e;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);

  width: 95%;
  height: 25%;
  
  border-radius: 15px;
  margin-bottom: 1.5rem;
  padding: 0.5rem 2rem 0.5rem 1rem;
}
.patientRecord .minSession{
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.patientRecord .tabContent .info{
  width: 200px;
  margin-left: 300px;
}

.patientRecord .sessions{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.patientRecord .noSession {
  font: 100 32px Poppins;
  line-height: 1rem;
  color: #07387e;
  text-align: center;
  align-self: center;
}