.patientRecord {
    width: 100%;
    height: 100%;
    color: #eee;
  
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #0a84e3 0%, #0a9be3 100%);
  }
  
  .patientRecord .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .patientRecord .patientInfo {
    display: flex;
    font: 500 1.5rem Poppins;
    color: #07387e;
    background-color: #eee;
    border-radius: 15px;
    width: 90vw;
    line-height: 3rem;
    min-width: 900px;
    max-width: 1800px;
  }
  
  .patientRecord .patientInfo .patient {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .patientRecord .patientInfo .patient .patientImg {
    height: 10rem;
    border-radius: 25%;
    margin: 1rem 2rem 1rem 1rem;
  }
  .patientRecord .patientInfo .patient .info {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .patientRecord .patientInfo .patient .info span {
    margin-right: 2rem;
  }
  
  .patientRecord .patientInfo .patient .info .prop {
    font-weight: bold;
    margin-right: 0;
  }
  
  .patientRecord .patientInfo .patient .info .name {
    width: 90%;
    display: block;
  }

  .patientRecord .patientInfo .patient .info .expand {
    width: 3rem;
    height: 3rem;
    align-self: center;
    border: none;
  }

  .patientRecord .patientInfo .patient .info .expand:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
  }

  .patientRecord .patientInfo .patient .info .expand img{
    width: 2.5rem;
    height: 2.5rem;
  }
  
  .patientRecord .patientInfo .patient .info .emailAndPhone {
    display: flex;
    flex-direction: row;
  }
  

  .patientRecord .patientHistory {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .patientRecord .patientHistory .tab {
      margin-top: 3rem;
      width: 90vw;

      overflow: hidden;
      background-color: none;
  }

  .patientRecord .patientHistory .tab button {
      width: 15vw;
      margin-bottom: -0.5rem;

      font: 500 1.2rem Poppins;
      color: #eee;

      background-color: #197FE5;
      border: none;
      border-radius: 0.7vw;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.2s;
  }

  .patientRecord .patientHistory .tab button:last-of-type {
    background-color: #0459AE;
  }

  .patientRecord .patientHistory .tab button:hover {
      background-color: #0459AE;
  }

  .patientRecord .patientHistory .tabContent {
      display: flex;
      flex-direction: column;
      
      font: 500 1.2rem Poppins;
      line-height: 3rem;
      color: #000;

      background-color: #eee;
      border-radius: 15px;

      width: 90vw;
      min-width: 900px;
      max-width: 1800px;
      
      padding: 1rem 2rem 0 2rem;
  }

  .patientRecord .patientHistory .tabContent h1, h2 {
      margin: 1.5rem 0 1.5rem 0;
      color: #07387E;
  }

  .patientRecord .patientHistory .tabContent h2{
    
    font: 100 1.5rem Poppins;
  }

  .patientRecord .patientHistory .tabContent p {
    line-height: 2rem;
  }

  .patientRecord .patientHistory .tabContent .recordText {
    border-radius: 15px;
    padding: 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  }