.patientListContainer {
    width: 100%;
    height: 100%;
    color: #eee;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(90deg, #0a84e3 0%, #0a9be3 100%);
}

.patientListContainer .content {
    width: 915px;
    height: 700px;
    display: flex;
    background: #eeeeee;
    border-radius: 15px;
    padding: 10px 0 10px 0;
    margin-top: 30px;
    flex-direction: column;
    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25);
    overflow: auto;
}

.patientListContainer .searcBarComponent {
    width: 915px;
    align-self: center;
    justify-content: flex-end;
}

.patientListContainer .patients {
    align-self: center;
    margin-top: 25px;
    width: 915px;
}

.patientListContainer .patients .noPatients {
    font-size: 32px;
}

.patientListContainer .patientTab {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font: 500 18px Poppins;
    color: #07387e;

    background-color: #eee;

    border: 2px solid #0459ae;

    border-radius: 15px;
    margin: 0 30px 30px 30px;
    padding: 10px 20px 10px 20px;
}

.patientListContainer .patientInfos {
    display: flex;
    align-items: center;
}

.patientListContainer .patientTab .patientInfos .patientImg {
    border: 1px solid #0459ae;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 40px 0 10px;
}

.patientListContainer .patientTab .patientInfos .minPatient p:first-of-type {
    margin: 16px 0 0 0;
    font: 700 32px Poppins;
}

.patientListContainer .patientTab .button img {
    width: 40px;
    height: 40px;
}
