.patientListContainer {
  width: 100%;
  height: 100%;
  color: #eee;

  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #0a84e3 0%, #0a9be3 100%);
}

.patientListContainer .content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.patientListContainer .searcBarComponent {
  width: 1400px;
  align-self: center;
  justify-content: flex-end;
}

.patientListContainer .patients {
  align-self: center;
  margin-top: 1.5rem;
  width: 1400px;
}

.patientListContainer .patientTab {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font: 500 1.2rem Poppins;
  color: #07387e;

  background-color: #eee;

  border-radius: 15px;
  margin-bottom: 1.5rem;
  padding: 0.5rem 2rem 0.5rem 1rem;
}

.patientListContainer .patientInfos {
  display: flex;
  align-items: center;
}

.patientListContainer .patientTab .patientInfos .patientImg {
  border-radius: 25%;
  margin: 0 2rem 0 1rem;
}

.patientListContainer .patientTab .patientInfos .minPatient p:first-of-type {
  font: 700 2rem Poppins;
}
.patientListContainer .patientTab button {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 25%;
}

.patientListContainer .patientTab button img {
  width: 3rem;
  height: 3rem;
}
