.patientListContainer {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #0A84E3 0%, #0A9BE3 100%);

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #eeeeee;
}

.patientListContainer .content {
    width: 100%;
    height: 100vh;
    margin: 0.5vw;

    display: grid;
    grid-template-rows: 6rem 2.5rem 1fr;
    grid-template-areas:   
        "nav"
        "search"
        "patients";
}


.patientListContainer .navBar {
    grid-area: nav;
}

.patientListContainer .searchBar {
    grid-area: search;
}

.patientListContainer .patients {
    grid-area: patients;
    margin-top: 1rem;
}

.patientListContainer .patientTab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Poppins, sans-serif;
    color: #07387E;
    background-color: #eee;
    border-radius: 15px;
    margin-bottom: 1.5rem;
    padding-right: 2rem;
}

.patientListContainer .patientInfos {
    display: flex;
    align-items: center;
}

.patientListContainer .patientTab .patientInfos .patientImg{
    border-radius: 25%;
    margin: 0 2rem 0 1rem;
}

.patientListContainer .patientTab .patientInfos .minPatient p:first-of-type{
    font: 700 2.5rem Poppins;

}
.patientListContainer .patientTab button {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 25%;
}

.patientListContainer .patientTab button img {
    width: 3rem;
    height: 3rem;

}