.usrEventsCalendar {
    width: 100%;
    height: 100vh;
    color: #eee;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(90deg, #0a84e3 0%, #0a9be3 100%);
}

.usrEventsCalendar .content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.usrEventsCalendar .tabela {
    border-radius: 15px;
    display: flex;
    background-color: #eee;
    height: 690px;
}

.usrEventsCalendar .tabela .calendar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.usrEventsCalendar .table-right {
    width: 740px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.usrEventsCalendar .table-right h1 {
    justify-self: center;
    font: 500 2.5rem "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #0459ae;
    display: flex;
}

.usrEventsCalendar .table-right button {
    border: none;
    color: #d10000;
    font: 500 1.3rem "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: 0.2s;
    border-radius: 8px;
    width: 60%;
    height: 3rem;
    align-self: center;
}
.usrEventsCalendar .table-right button:hover {
    color: #eee;
    background-color: #d10000;
}

.usrEventsCalendar .table-right button + button {
    margin-bottom: 25px;
    margin-top: 10px;
    color: #0459ae;
}
.usrEventsCalendar .table-right button + button:hover {
    color: #eee;
    background-color: #0459ae;
}

.usrEventsCalendar .schedules {
    width: 90%;
    height: 80%;

    border-left: 2px solid #0459ae;
    overflow: auto;
    font: 500 1.3rem "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #07387e;
    padding-left: 20px;
    padding-top: 20px;
}

.marked-schedule {
    display: flex;
}

.time-schedule {
    margin-right: 10px;
}

.usrEventsCalendar .schedules .schedule-box {
    text-align: left;
    display: flex;
}

.usrEventsCalendar .schedules .schedule-box button {
    background: none;
    border: none;
    font: 700 1rem "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #0459ae;
    cursor: pointer;
    padding: 0.6rem;
    width: 30%;
    transition: 0.2s;
}
.usrEventsCalendar .schedules .schedule-box button:hover {
    color: #bdc2c9;
}

.usrEventsCalendar .calendar-title {
    display: flex;
    justify-content: center;
}

.usrEventsCalendar .schedules .schedule-box .testeTotal {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    height: 80px;
}

@media only screen and (max-width: 1300px) {
    .usrEventsCalendar .tabela {
        flex-direction: column;
        width: 550px;
        height: auto;
        margin: 80px 0 80px 0;
    }

    .usrEventsCalendar .table-right {
        width: 550px;
    }

    .usrEventsCalendar .schedules {
        border: none;
    }
}

@media only screen and (max-width: 553px) {
    .usrEventsCalendar .tabela {
        width: 90%;
        margin: auto;
        margin-top: 50px;
    }

    .usrEventsCalendar .table-right {
        width: 100%;
        margin-top: 50px;
    }

    .usrEventsCalendar .table-right h1 {
        font: 500 1.8rem;
    }

    .usrEventsCalendar .schedules {
        border: none;
        margin-bottom: 155px;
    }
}
