.userProfileContainer {
    width: 100%;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #0a84e3 0%, #0a9be3 100%);
}
.userProfileContainer .content {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 5%;
}
.userProfileContainer .form {
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.userProfileContainer .form:first-of-type {
    margin-right: 100px;
}
.userProfileContainer .formColumn {
    display: flex;
    width: 950px;
    height: 800px;
    justify-content: space-between;
    margin: auto;
    background-color: #eee;
    display: flow-root;
    border-radius: 15px;
    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25);
}
.userProfileContainer .inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.userProfileContainer .form .input {
    display: flex;
    border-bottom: 3px solid #0459ae;

    margin-bottom: 10px;
}

.userProfileContainer .form input::placeholder {
    color: #fff;
}

.userProfileContainer .form input {
    width: 300px;
    height: 41px;
    
    background-color: transparent;
    color: #0459ae;
    border: 0;
    padding-top: 20px;
    font-size: 15px;
    line-height: 27px;
    
}
.userProfileContainer .form .selects {
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.userProfileContainer .form select {
    width: 140px;
    height: 41px;

    color: #0459ae;

    border: 0px;
    background-color: transparent;
    border-bottom: 3px solid #0459ae;

    font-size: 14px;
    line-height: 27px;
}
.userProfileContainer .form .space {
    width: 144px;
}
.userProfileContainer .form select option {
    background-color: #0459ae;
}

.userProfileContainer .profile {
    display: flex;
    position: absolute;
    align-self: baseline;
    margin-top: 1vh;
}
.userProfileContainer .content .formColumn .form .selectsLargest {
    width: 300px;
    height: 41px;
}
.userProfileContainer .formColumn .buttons .button-salvar {
    width: 130px;
    height: 40px;

    border-radius: 25px;
    border: 0;
    color: #fff;
    background-color: #0459ae;

    cursor: pointer;

    font-size: 18px;
    line-height: 36px;
}

.userProfileContainer .alert {
    position: fixed;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
}

.userProfileContainer .buttons {
    
    display: flex;
    justify-content: flex-end;
    width: 92%;
    margin-top: 40px;
}

.userProfileContainer .form .alertContent {
    margin: 0px;
    color: black;
    text-align: left;
    width: 400px;
    height: 20px;
    font-size: 14px;
}
.userProfileContainer .userIcon {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.userProfileContainer .personal-image {
    margin-left: 65px;
    margin-top: 45.5px;
    margin-bottom: 30px;
    height: 125px;
}

.userProfileContainer .personal-image input[type='file'] {
    display: none;
}
.userProfileContainer .personal-figure {
    position: relative;
    width: 125px;
    height: 125px;
    
    text-align: center;
    
}
.userIcon{
    width: 400px;
    height: 400px;
}
.userProfileContainer .personal-avatar {
    cursor: pointer;
    width: 125px;
    height: 125px;
    box-sizing: border-box;
    border-radius: 50%;
    transition: all ease-in-out 0.3s;
    border: solid 1px #0459ae; 
    border-radius: 50%;
}
.userProfileContainer .personal-avatar:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.userProfileContainer .personal-figcaption {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out 0.3s;
}
.userProfileContainer  .personal-figcaption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}
.userProfileContainer  .personal-figcaption > img {
    margin-top: 32.5px;
    width: 50px;
    height: 50px;
}