.userProfileContainer {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(90deg, #0a84e3 0%, #0a9be3 100%);
}
.userProfileContainer .content {
	/* width: 100%;
	height: 100%; 
	display: flex; */
	justify-content: center;
	align-items: center;
}

.userProfileContainer .formColumn {
	display: flex;
	margin-top: 80px;
	height: 650px;
	background-color: #eee;
	border-radius: 15px;
	box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25);
}
.userProfileContainer .formColumn .fieldDiv {
	display: flex;
	flex-direction: column;
	border: solid 1px #ccc;
	padding: 5px 5px 5px 5px;
	border-radius: 8px;
	margin-bottom: 10px;
}

.userProfileContainer .formColumn .arrowButton {
	background: none;
	border: none;
	cursor: arrow;
}

.userProfileContainer .formColumn .previousButton {
	transform: rotate(180deg);
}

.userProfileContainer .formColumn .page {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
}

.userProfileContainer .formColumn .page .form {
	margin-top: 25px;
	display: flex;
}

.userProfileContainer .formColumn .page .form .formRight {
	margin-left: 70px;
}

.userProfileContainer .formColumn #page2,
#page3 {
	display: none;
}
.userProfileContainer .inputs {
	width: 800px;
	height: 330px;
	display: flex;
	justify-content: center;
	overflow-y: auto;
}

.userProfileContainer .form .input {
	display: flex;
	margin-top: -3px;
	border-bottom: 3px solid #0459ae;
	margin-bottom: 10px;
	height: 41px;
}

.userProfileContainer .form input::placeholder {
	color: #909090;
}

.userProfileContainer .form input {
	width: 300px;
	/* height: 41px; */
	margin: 0;

	background-color: transparent;
	color: #0459ae;
	border: 0;
	padding-top: 20px;
	font-size: 15px;
	line-height: 27px;
}

.userProfileContainer .form select {
	width: 140px;
	height: 41px;

	color: #0459ae;

	padding-top: 15px;
	border: 0px;
	background-color: transparent;
	border-bottom: 3px solid #0459ae;

	font-size: 14px;
	line-height: 27px;
	margin: -3px 0 10.5px 0;
}

.userProfileContainer .content .formColumn .form .selectsLargest {
	width: 300px;
	height: 41px;
}

.userProfileContainer .content .formColumn .buttons .button-salvar,
.userProfileContainer .content .formColumn .buttons .button-change {
	width: 130px;
	height: 40px;

	border-radius: 25px;
	border: 0;
	color: #fff;
	background-color: #0459ae;

	cursor: pointer;

	font-size: 18px;
	line-height: 36px;
}

.userProfileContainer .content .formColumn .buttons .button-change {
	width: 150px;
	background: #909090;
	margin-right: 420px;
}

.userProfileContainer .formColumn .buttons .button-salvar:hover {
	background: #0a84e3;
}

.userProfileContainer .formColumn .buttons .button-change {
	width: 150px;
	background: #909090;
	margin-left: 35px;
}

.userProfileContainer .formColumn .buttons .button-salvar:hover {
	background: #0a84e3;
}

.userProfileContainer .alert {
	position: fixed;
	transform: translateX(-50%);
	top: 0;
	left: 50%;
}

.userProfileContainer .buttons {
	display: flex;
	justify-content: space-between;
	width: 93.7%;
	margin-top: 20px;
}

.userProfileContainer .form .alertContent {
	color: red;
	text-align: left;
	width: 300px;
	height: 20px;
	font-size: 11px;
	margin-top: -8px;
	margin-bottom: 10px;
}

.userProfileContainer .form .alertContent + .alertContent {
	margin-left: 20px;
}

.userProfileContainer .userIcon {
	border-radius: 50%;
	width: 150px;
	height: 150px;
}
.userProfileContainer .personal-image {
	/* height: 125px; */
}

.userProfileContainer .personal-image input[type='file'] {
	display: none;
}

.userProfileContainer .personal-figure {
	position: relative;
	width: 125px;
	height: 125px;

	text-align: center;
}
.userIcon {
	width: 400px;
	height: 400px;
}
.userProfileContainer .personal-avatar {
	cursor: pointer;
	width: 125px;
	height: 125px;
	box-sizing: border-box;
	border-radius: 50%;
	transition: all ease-in-out 0.3s;
	border: solid 1px #0459ae;
	border-radius: 50%;
}
.userProfileContainer .personal-avatar:hover {
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.userProfileContainer .personal-figcaption {
	cursor: pointer;
	position: absolute;
	top: 0px;
	width: inherit;
	height: inherit;
	border-radius: 100%;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0);
	transition: all ease-in-out 0.3s;
}
.userProfileContainer .personal-figcaption:hover {
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.5);
}
.userProfileContainer .personal-figcaption > img {
	margin-top: 32.5px;
	width: 50px;
	height: 50px;
}
@media only screen and (max-width: 900px) {
	.userProfileContainer .formColumn {
		width: 300px;
		height: 3250px;
		align-items: center;
		justify-content: center;
		margin: auto;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.userProfileContainer .formColumn .personal-image {
		margin-bottom: 50px;
	}
	.userProfileContainer .formColumn .inputs {
		margin: 400px 0 0 0;
		width: 300px;
		height: 750px;
		display: flex;
		flex-direction: column;
		overflow-y: visible;
	}
	.userProfileContainer .form {
		width: 300px;
		margin-top: 700px;
	}
	.userProfileContainer .form:first-of-type {
		margin-right: 0px;
	}
	.userProfileContainer .form .input {
		width: 200px;
	}
	.userProfileContainer .form .fieldDiv {
		display: flex;
		flex-direction: column;
		border: solid 1px #ccc;
		padding: 5px 5px 5px 5px;
		border-radius: 8px;
		margin-bottom: 10px;
	}
	.userProfileContainer .content .formColumn .form .selectsLargest {
		width: 200px;
	}
	.userProfileContainer .content .formColumn .buttons .button-salvar {
		width: 120px;
		height: 35px;
		font-size: 13px;
		margin-right: 15px;
	}
	.userProfileContainer .content .formColumn .buttons .button-change {
		width: 120px;
		height: 35px;
		font-size: 13px;
		margin-right: 15px;
	}
	.userProfileContainer .content .formColumn .buttons {
		margin-top: 1850px;
	}
	.userProfileContainer .personal-image {
		margin-left: 90px;
		margin-top: 50px;
		margin-bottom: 190px;
	}
	.userProfileContainer .form .alertContent {
		width: 200px;
		font-size: 11px;
	}
	.userProfileContainer .form input {
		width: 200px;
	}
}
