.userProfileContainer {
    width: 100%;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #0A84E3 0%, #0A9BE3 100%);

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
}
.userProfileContainer .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10%;

}
.userProfileContainer .form {
   
    height: 50vh;
    width: 50vh;
    
    /*background-color: aqua;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.userProfileContainer .formColumn{
    display: flex;
    width: 100vh;
    justify-items: baseline;
    justify-content: space-between;
}

.userProfileContainer .form .input {
    display: flex;
    border-bottom: 3px solid #0459AE;
    
    margin-bottom: 10px;
}

.userProfileContainer .form input::placeholder {
    color: #fff;
}

.userProfileContainer .form input {
    width: 320px;
    height: 33px;
    color: #fff;
    background-color: transparent;
    border: 0;

    font-size: 18px;
    line-height: 27px;
}
.userProfileContainer .form .selects {
    display: flex;
    justify-content: space-between;
    width: 344px;
}
.userProfileContainer .form select {
    width: 150px;
    height: 33px;

    color: #fff;

    border: 0px;
    background-color: transparent;
    border-bottom: 3px solid #0459AE;

    border-radius: 5px;
    font-size: 18px;
    line-height: 27px;
}
.userProfileContainer .form select option {
    background-color: #0459AE;
}

.userProfileContainer .profile{
    display: flex;
    position: absolute;
    align-self: baseline;
    margin-top: 5vh;
}
.container{
    width: 344px !important; 
}
.userProfileContainer .button-salvar{
    width: 150px;
    height: 50px;

    border-radius: 25px;
    border: 0;
    color: #fff;
    background-color: #0459AE;

    font-size: 24px;
    line-height: 36px;
}
.userProfileContainer .buttons{
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    width: 20%;
}
.userProfileContainer .button-sair {
    width: 150px;
    height: 50px;

    border-radius: 25px;
    border: 0;
    color: #fff;
    background-color: #FF2C00;

    font-size: 24px;
    line-height: 36px;
}