.userProfileContainer {
    width: 100%;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #0A84E3 0%, #0A9BE3 100%);
}
.userProfileContainer .content {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 5%;

}
.userProfileContainer .form {
    height: 35vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.userProfileContainer .form:first-of-type {
    margin-right: 100px;
}
.userProfileContainer .formColumn{
   
    display: flex;
    width: 80vh;
    height: 50vh;
    justify-content: space-between;
}

.userProfileContainer .form .input {
    display: flex;
    border-bottom: 3px solid #0459AE;
    
    margin-bottom: 10px;
}

.userProfileContainer .form input::placeholder {
    color: #fff;
}

.userProfileContainer .form input {
    width: 400px;
    height: 41px;
    color: #fff;
    background-color: transparent;
    border: 0;

    font-size: 18px;
    line-height: 27px;
}
.userProfileContainer .form .selects {
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.userProfileContainer .form select {
    width: 150px;
    height: 33px;

    color: #fff;

    border: 0px;
    background-color: transparent;
    border-bottom: 3px solid #0459AE;

    border-radius: 5px;
    font-size: 18px;
    line-height: 27px;
}
.userProfileContainer .form select option {
    background-color: #0459AE;
}

.userProfileContainer .profile{
    display: flex;
    position: absolute;
    align-self: baseline;
    margin-top: 1vh;
}
.userProfileContainer .content .formColumn .form .selectsLargest{
    width: 400px; 
    height: 41px; 
}
.userProfileContainer .formColumn .buttons .button-salvar{
    width: 150px;
    height: 50px;

    border-radius: 25px;
    border: 0;
    color: #fff;
    background-color: #0459AE;

    font-size: 24px;
    line-height: 36px;
}

.userProfileContainer .alert{
    position: fixed;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
}

.userProfileContainer .buttons{
    position: absolute;
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    width: 20%;
}
.userProfileContainer .formColumn .buttons .button-sair {
    width: 150px;
    height: 50px;

    border-radius: 25px;
    border: 0;
    color: #fff;
    background-color: #FF2C00;

    font-size: 24px;
    line-height: 36px;
}

.userProfileContainer .form .alertContent {
    margin: 0px;
    color: black;
    text-align: left;
    width: 400px;
    height: 20px;
    font-size: 14px;
}
.userProfileContainer .userIcon {
    border-radius: 50% ;
    width: 150px;
    height: 150px;
}
#image {
    position: absolute;
    top : 270px;
}