.userScheduleContainer {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.userScheduleContainer .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userScheduleContainer .forms {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    width: 1000px;
    height: 800px;
    border-radius: 15px;
    padding-top: 1.5rem;
    align-items: center;
    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25);
}

.userScheduleContainer .times {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userScheduleContainer .forms button{
    width: 150px;
    height: 50px;

    border-radius: 25px;
    border: 0;
    color: #fff;
    background-color: #07387e;

    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
}

.psyList {
    margin-bottom: 20px;
}

.userScheduleContainer h1 {
    color: #07387e;
    font-size: 30px;
}

.userScheduleContainer h2 {
    color: #07387e;
    font-size: 20px;
}

.userScheduleContainer .content .forms select {
    width: 100%;
    height: 41px;

    color: #003A70;

    padding-top: 15px;
    border: 0px;
    background-color: transparent;
    border-bottom: 3px solid #003A70;

    font-size: 14px;
    line-height: 27px;
    margin: -3px 0 10.5px 0;
}
