.userScheduleContainer {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #0a84e3 0%, #0a9be3 100%);
}

.userScheduleContainer .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userScheduleContainer .forms {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    width: 1000px;
    height: 800px;
    border-radius: 15px;
    padding-top: 1.5rem;
    align-items: center;
}

.userScheduleContainer .times {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.userScheduleContainer .forms button{
    width: 150px;
    height: 50px;

    border-radius: 25px;
    border: 0;
    color: #fff;
    background-color: #0459AE;

    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
}
.userScheduleContainer h1{
    color: #07387e;
}

.userScheduleContainer .content .forms select {
    width: 400px;
    height: 41px;

    color: #fff;

    border: 0px;
    background-color: #0459ae;
    border-bottom: 3px solid #0459ae;

    border-radius: 5px;
    font-size: 18px;
    line-height: 27px;
}
