.psychologist-container {
    width: 100vw;
    height: 100vh;
    color: #eee;

    display: flex;
    align-items: center;
    justify-content: center;
}

.psychologist-container .psychologist-create {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.psychologist-container .psychologist-create .form {
    width: 700px;
    height: 700px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.psychologist-container .psychologist-create .form .psyCreate {
    width: 700px;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.psychologist-container .psychologist-create .form .psyCreate input {
    width: 400px;
    height: 41px;
    color: #eee;

    background-color: transparent;
    border: 0;
    border-bottom: 3px solid #0459ae;

    font-size: 18px;
    line-height: 27px;
}

.psychologist-container
    .psychologist-create
    .form
    .psyCreate
    input::placeholder {
    color: #eee;
}

.psychologist-container .psychologist-create .form .psyCreate .button {
    width: 150px;
    height: 50px;

    border-radius: 25px;
    border: 0;
    color: #fff;
    background-color: #0459ae;

    font-size: 24px;
    line-height: 36px;
}

.psychologist-container .psychologist-create .form .psyCreate select {
    width: 400px;
    height: 41px;

    color: #fff;

    border: 0px;
    background-color: transparent;
    border-bottom: 3px solid #0459ae;

    border-radius: 5px;
    font-size: 18px;
    line-height: 27px;
}

.psychologist-container .psychologist-create .form .psyCreate select option {
    background-color: #0459ae;
}

.psychologist-container .alert {
    position: fixed;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
}
