.list-container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    background: linear-gradient(90deg, #0A84E3 0%, #0A9BE3 100%);

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.list-container .psychologist-list{
    width: 100%;
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
    align-items: center;
}

.psychologist-list article{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.psychologist-list article p {
    font-size: 16px;
    color: #000;
    margin-top: 5px;
    line-height: 24px;
}
.psychologist-list article button {
    color: red;
    font-size:18px;
    cursor:pointer;
    border: 2px solid red;
    border-radius: 2px;
}
.psychologist-list article button:hover{
    opacity: 0.6;
    background-color: #9C1C00;
    color: white;
    transition:all 0.3s;
}

.psychologist-list .new-psychologist{
    background-color:  #0459AE;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid blue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    
}

.psychologist-list .new-psychologist:hover{
    opacity: 0.6;
    background-color: #fff;
    color: #0459AE;
    transition:all 0.3s;
}