.list-container{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #0A84E3 0%, #0A9BE3 100%);

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.list-container .alert-component {
    position: fixed;
    width: 350px;
    height: 122px;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
}

.list-container .alert{
    width: 100%;
    height: 100%;
}

.list-container .alert .react-bootstrap-button {
    margin-left: 20px;
}

.list-container .psychologist-list{
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "nav" "cards";
    
    width: 100%;    
    height: 100%;
    padding: 0 20px;
}

.list-container .count{
    margin-top: 30px;
    color: #fff;
}

.psychologist-list .psychologists-cards {
    grid-area: "cards";

    margin-top: 10px;

    display: flex;
    flex-flow: row wrap;
    align-self: flex-start;
}

.psychologist-list article{
    width: 350px;
    height: 300px;
    word-wrap: break-word;

    display: flex;
    align-self: center;
    justify-content: space-between;
    flex-direction: column;

    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 0 0 20px 30px;  
}

.psychologist-list article p {
    font-size: 16px;
    color: #000;
    line-height: 24px;
}
.psychologist-list article button {
    color: red;
    font-size:18px;
    cursor:pointer;
    border: 2px solid red;
    border-radius: 2px;
}
.psychologist-list article button:hover{
    opacity: 0.6;
    background-color: #9C1C00;
    color: white;
    transition:all 0.3s;
}

.psychologist-list .nav {
    grid-area: "nav";

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.psychologist-list .new-psychologist{
    width: 260px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    background-color:  #0459AE;
    color: #fff;
    cursor: pointer;
    border: 1px solid blue;
    border-radius: 5px;
    margin-top: 30px;
    
}

.psychologist-list .new-psychologist:hover{
    opacity: 0.6;
    background-color: #fff;
    color: #0459AE;
    transition:all 0.3s;
}

.psychologist-list .nav .get-out {
    width: 100px;
    height: 50px;

    border-radius: 25px;
    border: 0;
    color: #fff;
    background-color: #FF2C00;

    line-height: 36px;
}
