.psychologistcalendar {
    width: 100%;
    height: 100vh;
    color: #eee;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(90deg, #0a84e3 0%, #0a9be3 100%);
}

.psychologistcalendar .content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.psychologistcalendar .tabela {
    width: 1400px;
    border-radius: 15px;
    display: flex;
    background-color: #eee;
    height: 690px;
}

.psychologistcalendar .tabela .calendar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.psychologistcalendar .table-right {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.psychologistcalendar .table-right h1 {
    justify-self: center;
    font: 500 2.5rem Poppins;
    color: #0459ae;
    display: flex;
}

.psychologistcalendar .table-right button {
    border: none;
    color: #d10000;
    font: 500 1.3rem Poppins;
    transition: 0.2s;
    border-radius: 8px;
    width: 60%;
    height: 3rem;
    align-self: center;
}
.psychologistcalendar .table-right button:hover {
    color: #eee;
    background-color: #d10000;
}

.psychologistcalendar .table-right button + button {
    margin-bottom: 25px;
    margin-top: 10px;
    color: #0459ae;
}
.psychologistcalendar .table-right button + button:hover {
    color: #eee;
    background-color: #0459ae;
}

.psychologistcalendar .schedules {
    width: 90%;
    height: 80%;
    padding-left: 30px;
    border-left: 2px solid #0459ae;
    overflow: auto;
    font: 500 1.3rem Poppins;
    color: #07387e;
}

.psychologistcalendar .schedules .schedule-box {
    margin: 30px 5px 5px 5px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.psychologistcalendar .schedules .schedule-box + .schedule-box {
    margin: 5px;
}

.psychologistcalendar .schedules .schedule-box button {
    background: none;
    border: none;
    font: 700 1rem Poppins;
    color: #0459ae;
    cursor: pointer;
    padding: 0.6rem;
    width: 30%;
    transition: 0.2s;
}
.psychologistcalendar .schedules .schedule-box button:hover {
    color: #bdc2c9;
}

/* Calendar \/ */
.react-calendar {
    margin: 30px;
    width: 600px;
    height: 630px;
    background: #eee;
    border-radius: 15px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.25));
}

.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
}
.react-calendar button:enabled:hover {
    cursor: pointer;
}
.react-calendar__navigation {
    height: 90px;
}
.react-calendar__navigation button {
    width: 80px;
    font-size: 30px;
    color: #07387e;
    border-radius: 15px;
    background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}
.react-calendar__month-view__weekdays__weekday {
    color: #757575;
}
.react-calendar__month-view__days__day--weekend {
    color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
    color: #c4c4c4;
}

.react-calendar__tile {
    border-radius: 100%;
    max-width: 100%;
    text-align: center;
    padding: 33px 20px;
    background: none;
}
.react-calendar__tile:disabled {
    background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
}
.react-calendar__tile--now {
    background: #c4c4c4;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #49cdf5;
}
.react-calendar__tile--hasActive {
    background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
}
.react-calendar__tile--active {
    background: #006edc;
    color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
}
