.psyProfileContainer {
    width: 100%;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(90deg, #0a84e3 0%, #0a9be3 100%);
}

.psyProfileContainer .content {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.psyProfileContainer .content .firstColumn {
    width: 70%;
    height: 100%;
}

.psyProfileContainer .content .secondColumn {
    display: flex;
    height: 50%;
    flex-direction: column;
}

.psyProfileContainer .content .secondColumn .link {
    text-decoration: none;
    margin-bottom: 20px;
    color: #eee;
}

.psyProfileContainer .content .profile {
    margin: 40px 0 40px 100px;
    align-self: flex-start;
}

.psyProfileContainer .content .profile img {
    width: 130px;
    height: 130px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.psyProfileContainer .formColumn {
    width: 900px;
    height: 500px;

    margin-left: 100px;
    margin-top: 230px;

    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
}

.psyProfileContainer .formColumn .input {
    display: flex;
    border-bottom: 3px solid #0459ae;

    margin-bottom: 30px;
}

.psyProfileContainer .formColumn input {
    width: 400px;
    height: 41px;

    background-color: transparent;
    color: #fff;
    border: 0;
    padding-top: 20px;
    font-size: 18px;
    line-height: 27px;
}

.psyProfileContainer .formColumn input::placeholder {
    color: #fff;
}

.psyProfileContainer .formColumn .selects {
    display: flex;
    justify-content: space-between;

    width: 400px;
}

.psyProfileContainer .formColumn .selects select {
    width: 150px;
    height: 41px;

    color: #fff;

    border: 0px;
    background-color: transparent;
    border-bottom: 3px solid #0459ae;

    border-radius: 5px;
    font-size: 18px;
    line-height: 27px;
}

.psyProfileContainer .formColumn .selects select option {
    background-color: #0459ae;
}

.psyProfileContainer textarea {
    border: none;
    border-radius: 8px;
    resize: none;
    width: 900px;
    height: 325px;
    padding: 8px;
}

.psyProfileContainer .content .form {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}

.psyProfileContainer .content .formColumn .buttons {
    display: flex;
    width: 339px;
    margin-top: 25px;
    align-self: flex-start;
    justify-content: space-between;
}
.psyProfileContainer .content .formColumn .buttons .button-salvar {
    width: 150px;
    height: 50px;

    border-radius: 25px;
    border: 0;
    color: #fff;
    background-color: #0459ae;

    cursor: pointer;

    font-size: 24px;
    line-height: 36px;
}
.psyProfileContainer .content .formColumn .buttons .button-sair {
    width: 150px;
    height: 50px;

    border-radius: 25px;
    border: 0;
    color: #fff;
    background-color: #ff2c00;

    cursor: pointer;

    font-size: 24px;
    line-height: 36px;
}

.psyProfileContainer .alert {
    position: fixed;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
}

.psyProfileContainer .formColumn .alertContent {
    margin: 0px;
    color: black;
    text-align: left;
    width: 400px;
    height: 20px;
    font-size: 14px;
}
.psyProfileContainer .form .personal-image {
    text-align: center;
    position: absolute;
    top: 130px;
    left: 90px;
}
.psyProfileContainer .form .personal-image input[type='file'] {
    display: none;
}
.psyProfileContainer .form .personal-figure {
    position: relative;
    width: 150px;
    height: 150px;
}
.psyProfileContainer .form .personal-avatar {
    cursor: pointer;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 0.3s;
}
.psyProfileContainer .form .personal-avatar:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.psyProfileContainer .form .personal-figcaption {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out 0.3s;
}
.psyProfileContainer .form .personal-figcaption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}
.psyProfileContainer .form .personal-figcaption > img {
    margin-top: 32.5px;
    width: 50px;
    height: 50px;
}
