.psyProfileContainer {
    width: 100%;
    height: 90vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #fff;
}

.psyProfileContainer .content .firstColumn {
    width: 800px;
    height: 650px;
    margin: auto;
    background-color: #eee;
    border-radius: 15px;
    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25);
}

.psyProfileContainer .content .profile {
    margin: 40px 0 40px 100px;
    align-self: flex-start;
}

.psyProfileContainer .content .profile img {
    width: 130px;
    height: 130px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.psyProfileContainer .formColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.psyProfileContainer .formColumn .inputs {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.psyProfileContainer .formColumn input {
    width: 300px;
    height: 41px;

    background-color: transparent;
    color: #003A70;
    border: 0;
    padding-top: 20px;
    font-size: 15px;
    line-height: 27px;
    border-bottom: 3px solid #003A70;
}

.psyProfileContainer .formColumn input::placeholder {
    color: #003A70;
}

.psyProfileContainer .content .firstColumn .form {
    display: flex;
    align-items: center;
    width: 700px;
}

.psyProfileContainer .formColumn .selects {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.psyProfileContainer .formColumn .selects select {
    width: 140px;
    height: 41px;

    color: #003A70;

    border: 0px;
    background-color: transparent;
    border-bottom: 3px solid #003A70;

    font-size: 14px;
    line-height: 27px;
}
.psyProfileContainer .formColumn .space {
    width: 144px;
}

.psyProfileContainer .formColumn .selects select option {
    background-color: #eeeeee;
}

.psyProfileContainer textarea {
    border: none;
    border-radius: 8px;

    resize: none;
    width: 700px;
    height: 100px;

    margin-top: 30px;

    font-size: 14px;
    padding: 10px;
    color: #003A70;

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.psyProfileContainer .content .form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}

.psyProfileContainer .content .formColumn .buttons {
    display: flex;
    margin-top: 25px;
    margin-right: 52px;
    align-self: flex-end;
    justify-content: space-between;
}
.psyProfileContainer .content .formColumn .buttons .button-save,
.psyProfileContainer .content .formColumn .buttons .button-change {
    width: 130px;
    height: 40px;
    font-weight: 500;
    border-radius: 25px;
    border: 0;
    color: #fff;
    background-color: #003A70;
    cursor: pointer;
    font-size: 18px;
    line-height: 36px;
}

.psyProfileContainer .content .formColumn .buttons .button-save:hover {
    filter: brightness(80%);
}

.psyProfileContainer .content .formColumn .buttons .button-change {
    width: 150px;
    background: #3d7dca;
    margin-right: 420px;
    font-weight: 500;
}

.buttons .button-change:hover {
    filter: brightness(80%);
}

.psyProfileContainer .alert {
    position: fixed;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
}

.psyProfileContainer .formColumn .alertContent {
    margin: 0px;
    color: black;
    text-align: left;
    width: 300px;
    height: 20px;
    font-size: 10px;
}
.psyProfileContainer .personal-image {
    margin-left: -580px;
    margin-top: 45.5px;
    margin-bottom: 30px;
    height: 125px;
}

.psyProfileContainer .personal-image input[type='file'] {
    display: none;
}
.psyProfileContainer .personal-figure {
    position: relative;
    width: 125px;
    height: 125px;

    text-align: center;
}
.userIcon {
    width: 400px;
    height: 400px;
}
.psyProfileContainer .personal-avatar {
    cursor: pointer;
    width: 125px;
    height: 125px;
    box-sizing: border-box;
    border-radius: 50%;
    transition: all ease-in-out 0.3s;
    border: solid 1px #0459ae;
    border-radius: 50%;
}
.psyProfileContainer .personal-avatar:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.psyProfileContainer .personal-figcaption {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out 0.3s;
}
.psyProfileContainer .personal-figcaption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}
.psyProfileContainer .personal-figcaption > img {
    margin-top: 32.5px;
    width: 50px;
    height: 50px;
}
@media only screen and (max-width: 900px) {
    .psyProfileContainer textarea {
        width: 200px;
        height: 150px;
    }    
    .psyProfileContainer .content {
        margin: auto;
        margin-top: 300px;
        margin-bottom: 50px;
    }
    .psyProfileContainer .formColumn {
        margin-top: 200px;
    }
    .psyProfileContainer .content .firstColumn {
        width: 300px;
        height: 920px;
    }   
    .psyProfileContainer .content .firstColumn .form {
        width: 300px;
        display: flex;
        flex-direction: column;
    }
    .psyProfileContainer .personal-image {
        margin-left: 0px;
        margin-top: 45.5px;
        margin-bottom: 30px;
        height: 125px;
    }    
    .psyProfileContainer .formColumn input {
        width: 200px;
    }
    .psyProfileContainer .formColumn .inputs {
        width: 200px;
        text-align: center;
    }
    .psyProfileContainer .formColumn .selects select {
        width: 200px;
    }
    .psyProfileContainer .formColumn .selects select:first-of-type{
        margin-bottom: 24px;
    }

    .psyProfileContainer .formColumn .selects .alertContent:first-of-type{
        margin-top: -65px;
        margin-bottom: 45px;
    }

    .psyProfileContainer .formColumn .selects {
        width: 300px;
        flex-direction: column;
    }
    .psyProfileContainer .content .formColumn .buttons .button-save {
        width: 100px;
        height: 35px;
        font-size: 13px;
    }
    .psyProfileContainer .content .formColumn .buttons .button-change {
        width: 120px;
        height: 35px;
        font-size: 13px;
        margin-right: 15px;
    }    .psyProfileContainer .content .formColumn .buttons {
        margin-top: 15px;
        margin-right: 35px;
    }
    .psyProfileContainer .formColumn .alertContent {
        width: 200px;
    }
}

@media only screen and (max-width: 900px) { 
    .psyProfileContainer {
        height: 100%;
    }

    .psyProfileContainer .formColumn {
        margin: 30px 0 !important;
    }

    .psyProfileContainer .content {
        margin: auto;
        margin-top: 0;
        margin-bottom: 50px;
    }
}

