.psyEventsCalendar {
    width: 100%;
    height: 100vh;
    color: #eee;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
}

.psyEventsCalendar .content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.psyEventsCalendar .tabela {
    width: 1400px;
    border-radius: 15px;
    display: flex;
    background-color: #eee;
    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25);
    height: 690px;
}

.psyEventsCalendar .tabela .calendar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.psyEventsCalendar .table-right {
    width: 740px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.psyEventsCalendar .table-right h1 {
    justify-self: center;
    font: 500 2.5rem 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica,
        Arial, sans-serif;
    color: #0459ae;
    display: flex;
}

.psyEventsCalendar .table-right button {
    border: none;
    color: #d10000;
    font: 500 1.3rem 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica,
        Arial, sans-serif;
    transition: 0.2s;
    border-radius: 8px;
    width: 60%;
    height: 3rem;
    align-self: center;
}
.psyEventsCalendar .table-right button:hover {
    color: #eee;
    background-color: #d10000;
}

.psyEventsCalendar .table-right button + button {
    margin-bottom: 25px;
    margin-top: 10px;
    color: #0459ae;
}
.psyEventsCalendar .table-right button + button:hover {
    color: #eee;
    background-color: #0459ae;
}

.psyEventsCalendar .schedules {
    width: 90%;
    height: 80%;

    border-left: 2px solid #0459ae;
    overflow: auto;
    font: 500 1.3rem 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica,
        Arial, sans-serif;
    color: #07387e;
}

.psyEventsCalendar .schedules .schedule-box {
    text-align: left;
    display: flex;
}

.psyEventsCalendar .schedules .schedule-box button {
    background: none;
    border: none;
    font: 700 1rem 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial,
        sans-serif;
    color: #0459ae;
    cursor: pointer;
    padding: 0.6rem;
    width: 30%;
    transition: 0.2s;
}
.psyEventsCalendar .schedules .schedule-box button:hover {
    color: #bdc2c9;
}

.psyEventsCalendar .calendar-title {
    display: flex;
    justify-content: center;
}
.psyEventsCalendar .schedules .schedule-box .testeTotal {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    height: 80px;
}
.psyEventsCalendar .navBarComponent .navLinks {
    display: none !important;
}
@media only screen and (max-width: 1300px) {
    .psyEventsCalendar .tabela {
        margin: auto;
        margin-top: 50px;
        height: auto;
        flex-direction: column;
        width: 550px;
    }
    .psyEventsCalendar .table-right {
        width: 100%;
        padding-bottom: 30px;
    }
    .psyEventsCalendar .table-right h1 {
        font-size: 2rem;
    }
    .psyEventsCalendar .schedules {
        max-height: 300px;
    }
}
@media only screen and (max-width: 994px) {
    .psyEventsCalendar .tabela {
        width: 65%;
    }
    .psyEventsCalendar .SideBar {
        display: none;
    }
    .psyEventsCalendar .navBarComponent .navLinks {
        display: flex !important;
    }
}

@media only screen and (max-width: 553px) {
    .psyEventsCalendar .tabela {
        width: 90%;
    }
    .psyEventsCalendar .table-right h1 {
        font-size: 1.5rem;
    }
}
