.usercalendar {
    width: 100%;
    height: 100vh;
    color: #eee;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: linear-gradient(90deg, #0a84e3 0%, #0a9be3 100%);
}

.usercalendar .content {
    height: 100%;
    margin: auto;
    width: 65%;
    max-width: 1360px;
    min-width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.usercalendar .tabela {
    margin: 80px 0 80px 0;
    border-radius: 15px;
    display: flex;
    background-color: #eee;
    height: 690px;
}

.usercalendar .tabela .calendar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.usercalendar .table-right {
    width: 740px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.usercalendar .table-right h1 {
    margin-top: 30px;
    justify-content: center;
    font: 500 2.5rem Poppins;
    color: #0459ae;
    display: flex;
}

.usercalendar .table-right button + button {
    margin-bottom: 25px;
    margin-top: 10px;
    color: #0459ae;
}
.usercalendar .table-right button + button:hover {
    color: #eee;
    background-color: #0459ae;
}

.usercalendar .schedules {
    width: 90%;
    height: 80%;
    border-left: 2px solid #0459ae;
    overflow: auto;
    font: 500 1.3rem Poppins;
    color: #07387e;
}

.usercalendar .schedules .schedule-box {
    margin: 30px 5px 5px 0px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.usercalendar .schedules .schedule-box + .schedule-box {
    margin: 5px;
}

.usercalendar .schedules .schedule-box button {
    text-align: left;
}
.usercalendar .schedules .schedule-box button:hover {
    color: #bdc2c9;
}

.usercalendar .psy-card {
    display: flex;
    height: 100px;
    width: 100%;
    margin: 0px;
    background-color: #0459ae;

    flex-direction: column;
}
.usercalendar .dropDown-calendar {
    display: flex;
    background-color: #eee;
    color: #07387e;
    flex-direction: row;
    width: 1360px;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 15px;
    justify-content: space-around;
}
.usercalendar .testecalendar {
    display: flex;
    width: 800px;
    margin: 0px;
    flex-direction: column;
}
.usercalendar .checkboxColumn {
    display: flex;
    background-color: #0459ae;
    flex-direction: column;
}
.usercalendar button {
    text-decoration: none;
    border-color: transparent;
    outline: transparent;
}
.usercalendar .psy-card button {
    height: 100%;
}
.usercalendar .psy-card button:focus {
    background-color: #c4c4c4;
}
.usercalendar .column1 {
    display: flex;
    flex-direction: column;
    width: 520px;
    padding-right: 20px;
}
.usercalendar .column2 {
    display: flex;
    width: 700px;
    flex-direction: column;
    border-left: 2px solid #0459ae;
    padding-left: 20px;
    height: 100%;
}
.usercalendar .column2 .schedule-buttons {
    display: flex;

    width: 600px;
    justify-content: space-between;
}
.usercalendar .column2 .schedule-buttons button {
    background-color: #00c048;
    color: #f0f0f0;
    width: 176px;
    height: 47px;
    border-radius: 20px;
}
.usercalendar .column2 .schedule-buttons .cancelSchedule {
    background-color: red;
}

.usercalendar .column2 .schedule-buttons .waiting-list {
    background-color: #0459ae;
}

.usercalendar .alert {
    display: flex;
    width: 800px;
    align-self: flex-end;
}
.usercalendar .hours-disponibility {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 20px;
}
.usercalendar .noHours {
    background-color: #ff2c00;
    color: #4a0d00;
    border-radius: 15px;
    padding-top: 20px;
    padding-left: 20px;

    width: 100%;
    
}
.usercalendar .navBarComponent .navLinks {
    display: none !important;
}

@media only screen and (max-width: 1300px) {
    .usercalendar .tabela {
        flex-direction: column;
        width: 550px;
        min-height: 800px;
        margin: 80px 0 80px 0;
    }

    .usercalendar .table-right {
        width: 550px;
    }

    .usercalendar .schedules {
        border: none;
    }

    .usercalendar .table-right h1 {
        font: 500 2rem Poppins;
    }
    .usercalendar .content {
        max-width: 550px;
        min-width: 0px;
    }
}
@media only screen and (max-width: 994px){
    .usercalendar .navBarComponent .navLinks {
        display: flex !important;
    }
    .usercalendar .sidebar {
        display: none !important;
    }
}
@media only screen and (max-width: 910px){
    .usercalendar .tabela {
        width: 85%;
        min-width: 280px;
    }
    .usercalendar .navBarComponent .navLinks {
        display: flex !important;
    }
    .usercalendar .sidebar {
        display: none !important;
    }

    .usercalendar .table-right {
        width: 100%;
    }
    .usercalendar .noHours {
        width: 85%;
        min-width: 280px;
    }
}