.usercalendar {
    width: 100%;
    height: 100%;
    color: #eee;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff !important;
}

.usercalendar .content {
    height: 100%;
    margin: auto;
    width: 65%;
    max-width: 1360px;
    min-width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.usercalendar .tabela {
    margin: 80px 0 80px 0;
    border-radius: 15px;
    display: flex;
    background-color: #eee;
    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25);
    height: 690px;
}

.usercalendar .tabela .calendar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.usercalendar .table-right {
    width: 740px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.usercalendar .table-right h1 {
    margin-top: 30px;
    justify-content: center;
    font: 500 2.5rem "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #003A70;
    display: flex;
}

.usercalendar .table-right button + button {
    margin-bottom: 25px;
    margin-top: 10px;
    color: #003A70;
}
.usercalendar .table-right button + button:hover {
    color: #eee;
    background-color: #003A70;
}

.usercalendar .schedules {
    width: 90%;
    height: 80%;
    border-left: 2px solid #003A70;
    overflow: auto;
    font: 500 1.3rem "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #003A70;
}

.usercalendar .schedules .schedule-box {
    width: 100%;
    height: 90%;
    margin-top: 20px;
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.usercalendar .schedules .schedule-box + .schedule-box {
    margin: 5px;
}

.usercalendar .schedules .schedule-box button {
    text-align: left;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #003A70;
    padding: 5px
}

.usercalendar .schedules .schedule-box button h3 {
    margin: 0;
    color: #003A70
}

.usercalendar .schedules .schedule-box button:hover {
    color: #bdc2c9;
}

.usercalendar .psy-card {
    display: flex;
    height: 100px;
    width: 100%;
    margin: 0px;

    flex-direction: column;
}
.usercalendar .dropDown-calendar {
    display: flex;
    background-color: #eee;
    color: #07387e;
    flex-direction: row;
    width: 1360px;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 15px;
    justify-content: space-around;
    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25);
}
.usercalendar .testecalendar {
    display: flex;
    width: 100%;
    margin: 0px;
    flex-direction: column;
}
.usercalendar .checkboxColumn {
    display: flex;
    background-color: #003A70;
    flex-direction: column;
}
.usercalendar button {
    text-decoration: none;
    border-color: transparent;
    outline: transparent;
}
.usercalendar .psy-card button {
    height: 100%;
}

.usercalendar .psy-card button a{
    text-decoration: none;
}
.usercalendar .psy-card button:hover {
    background-color: #c4c4c4;
}
.usercalendar .column1 {
    display: flex;
    flex-direction: column;
    width: 520px;
    padding-right: 20px;
}
.usercalendar .column2 {
    display: flex;
    width: 700px;
    flex-direction: column;
    border-left: 2px solid #003A70;
    padding-left: 20px;
    height: 100%;
}
.usercalendar .column2 .schedule-buttons {
    display: flex;
    flex-direction: column;

    width: 600px;
    height: 150px;
    margin-bottom: 20px;
    justify-content: space-between;
}
.usercalendar .column2 .schedule-buttons button {
    background-color: #006633;
    color: #f0f0f0;
    width: 176px;
    height: 47px;
    border-radius: 20px;
}
.usercalendar .column2 .schedule-buttons .cancelSchedule {
    background-color: #d10000;
}

.usercalendar .column2 .schedule-buttons .waiting-list {
    background-color: #003A70;
    width: 350px;
}

.usercalendar .column2 .schedule-buttons .row1,
.usercalendar .column2 .schedule-buttons .row2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.usercalendar .column2 .schedule-buttons .row1 button,
.usercalendar .column2 .schedule-buttons .row2 button {
    margin-left: 10px;
}

.usercalendar .alert {
    display: flex;
    width: 800px;
    align-self: flex-end;
}
.usercalendar .hours-disponibility {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-bottom: 20px;
    height: 300px;
    overflow: auto;
}
.usercalendar .noHours {
    display: flex;
    background-color: #C10015;
    color: #4a0d00;
    flex-direction: row;
    width: 1400px;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.usercalendar .noHours h3 {
    color: #fff;
}

.usercalendar .table-right .calendar-title{
    display: flex;
    height: 103px;
    text-align: center;
    padding: 33px 20px;
    justify-content: center;
}
.usercalendar .navBarComponent .navLinks {
    display: none !important;
}

.buttonYes {
    background-color: #08a102;
}

.buttonYes:hover {
    opacity: 0.5;
    background-color: #08a102;
}

.buttonNo {
    background-color: #c20707;
}

.buttonNo:hover {
    opacity: 0.5;
    background-color: #c20707;
}

.modalTitle {
    color: #003A70;
}

.modalFormDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6px;
}

.modalLabel {
    margin-top: 10px;
    margin-right: 10px;
    font-weight: bold;
    color: #003A70;
}

@media only screen and (max-width: 1300px) {
    .usercalendar .tabela {
        flex-direction: column;
        width: 550px;
        min-height: 800px;
        margin: 80px 0 80px 0;
    }

    .usercalendar .table-right {
        width: 550px;
    }

    .usercalendar .schedules {
        border: none;
    }

    .usercalendar .table-right h1 {
        justify-self: center;
        justify-content: center;
        font: 500 1.5rem "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #003A70;
        display: flex;
        font-weight: bold;
    }
    .usercalendar .content {
        max-width: 550px;
        min-width: 0px;
    }
}
@media only screen and (max-width: 994px) {
    .usercalendar {
        height: 100% !important;
    }
    .usercalendar .navBarComponent .navLinks {
        display: flex !important;
    }
    .usercalendar .sidebar {
        display: none !important;
    }
}

@media only screen and (max-width: 910px) {
    .usercalendar {
        height: 100% !important;
    }
    .usercalendar .tabela {
        width: 85%;
        min-width: 280px;
    }
    .usercalendar .navBarComponent .navLinks {
        display: flex !important;
    }
    .usercalendar .sidebar {
        display: none !important;
    }

    .usercalendar .table-right {
        width: 100%;
    }
    .usercalendar .noHours {
        width: 85%;
        min-width: 280px;
    }
}
