*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
}

body {
  background: linear-gradient(90deg, #0a84e3 0%, #0a9be3 100%);
}