.faq-card {
    max-width: 500px;
    max-height: 400px;
  
    margin-bottom: 100px;
    text-align: justify;
}

.faq-card h2 {
    font-weight: bold;
    font-size: 18px;
}
  
.faq-card span {
    font-size: 14px;
}