.footerComponent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
    height: 100px;
    background-color: #003A70 !important;
}

.footerComponent img {
    width: 250px;
}