.hiw-card {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 350px;
    background-color: #e5e5e5;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    text-align: justify;
    padding: 30px 25px;
}
.hiw-card h2 {
    text-align: center;
}

.hiw-card + .hiw-card {
    margin-left: 50px;
}

