.landingNavBarComponent {
    display: flex;
    align-items: center;
    justify-content: stretch;
    width: 100%;

    position: -webkit-sticky;
    position: sticky;
    top: 0;

    background: linear-gradient(90deg, #0a84e3 0%, #0a9be3 100%);
    z-index: 1000;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.25));
}

.landingNavBarComponent img {
    width: 150px;
    height: 50px;
    margin-top: 12px !important;
}

.landingNavBarComponent .links a {
    padding: 13px !important;
    color: #fff !important;
    text-decoration: none !important;
    transition: 0.2s all !important;
    margin-left: 60px !important;
}

.landingNavBarComponent .links a:hover {
    color: #b5e1f7 !important;
}

.landingNavBarComponent .links .registration-link,
.login-link {
    margin-right: 20px !important;
}

.landingNavBarComponent .links .registration-link:hover {
    background: #0459ae !important;
    color: #fff !important;
}
.login-link:hover {
    background: #0459ae !important;
    color: #fff !important;
}
@media only screen and (max-width: 991px) {
    .landingNavBarComponent{
        display: flex;
        justify-content: space-between;
    }
    .landingNavBarComponent .links a {
        color: #0459ae !important;
    }
}