.landingNavBarComponent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    position: -webkit-sticky;
    position: sticky;
    top: 0;

    background: linear-gradient(90deg, #0a84e3 0%, #0a9be3 100%);
    z-index: 1000;
}

.landingNavBarComponent img {
    width: 150px;
    height: 50px;
}

.landingNavBarComponent .links {
    width: 40%;

    display: flex;
    justify-content: space-evenly;
}

.landingNavBarComponent .links a {
    color: #eee;
    text-decoration: none;
    transition: 0.2s all;
}

.landingNavBarComponent .links a:hover {
    color: #ccc;
}

/* .landingNavBarComponent .links .registration-link:hover {
    background: darkblue;
    border: 1px solid darkblue;
}

.landingNavBarComponent .links .login-link:hover {
    background: darkblue;
} */