.navBarComponent {
    height: 70px !important;
    background: #003A70 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navBarComponent .logoSquare {
    width: 175px !important;
    height: 80px !important;
}

.navBarComponent .navLinks {
    display: flex;
    align-items: center;
}

.navBarComponent .navLinks .a {
    text-decoration: none;
    margin-right: 30px;
    color: #eee;
}

.navBarComponent .navLinks .a:hover {
    opacity: 0.6;
}

.navBarComponent .userIcon {
    height: 46px;
    width: 46px;
    border-radius: 50%;
}

.navBarComponent .dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0 0 5px;
    transform: rotate(-90deg);
    color: white !important;
    
}

.dropleft .dropdown-toggle::before {
    font-size: 30px;
}

.dropleft .dropdown-toggle:hover {
    opacity: 0.6;
}

.navBarComponent .dropdown-menu {
    margin: 57px -57px 0 0 !important;
    transform: rotate(0deg);
    background-color: #003A70;
}

.navBarComponent .dropdown-item {
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
}

.dropDownItemText {
    margin-left: 10px;
}

.navBarComponent .dropdown-item:hover {
    color: white;
    background-color: #004585;
    margin: 0 auto;
    border-radius: 5px;
    width: 90%;
}

.navBarComponent .dropdown-divider {
    height: 0;
    margin: .5rem auto;
    overflow: hidden;
    width: 80%;
    border-top: 1px solid #ddd;
}

.navBarComponent .show .dropdown-toggle {
    margin-top: 5px;
    transform: rotate(90deg);
}

.navbar {
    margin: 0;
    padding: 0 16px 0 16px;
    align-items: center;
}
.navbar .navbar-brand {
    height: 70px !important;
    margin-top: -15px;
}
.navbar a.dropNone {
    display: none;
}

@media only screen and (max-width: 991px) {
    .navBarComponent .navLinks {
        display: flex !important;
        flex-direction: column !important;
    }
    .navBarComponent .navLinks a {
        margin-bottom: 20px !important;
    }
    .navBarComponent .navLinks a:first-child {
        margin-top: 30px;
    }

    .navbar .navbar-collapse {
        z-index: 1;
        border-radius: 0 0 15px 15px;
        margin-bottom: -254px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        background: #eee;
    }
    .navBarComponent .navLinks .a {
        text-decoration: none;
        margin-right: 30px;
        color: red;
    }
    .navbar .ml-auto .userIcon,
    .dropdown-toggle {
        display: none;
    }
    .navbar a.dropNone {
        display: block;
        text-align: center;
        margin-top: 20px;
        text-decoration: none;
        margin-right: 30px;
        color: #0a84e3;
    }
    .navbar a.dropNone:nth-child(odd) {
        margin-bottom: 20px;
        color: red;
    }
    .navbar a.dropNone:hover {
        opacity: 0.6;
    }
    .navbar .dropNone.dropDivider.dropdown-divider {
        border-top: 1px solid #003A70 !important;
        margin: 0 30px;
    }
    a.profileDropDown {
        padding: 12px 72px 12px 0px !important;
        color: white !important;
    }
    .navbar-toggler {
        background-color: red;
    }
}
