.navBarComponent {
    height: 70px !important;
    background: #0a84e3 !important; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 15px 0;
    padding: 0px 15px 0 15px; */
}

.navbar .navLinks {
    display: flex !important;
    
}

.navBarComponent .logoQuadrado {
    width: 175px !important;
    height: 80px !important;
}

.navBarComponent .navLinks {
    display: flex;
    align-items: center;
}

.navBarComponent .navLinks .a {
    text-decoration: none;
    margin-right: 30px;
    color: #eee;
}

.navBarComponent .navLinks .a:hover {
    color: #eeeeee94;
}

.navBarComponent .userIcon {
    height: 46px;
    width: 46px;
    border-radius: 50%;
}

.navBarComponent .navLinks .arrow {
    margin-top: 10px;
    margin-left: 14px;
    transform: rotate(180deg);
}

.navBarComponent .navLinks .dropdown {
    margin: 0 50px 0 20px;
    height: 42px;
    width: 42px;

    cursor: pointer;
}

.navBarComponent .navLinks .dropdown .images {
    display: flex;
}

.navBarComponent .navLinks .dropdown .dropdown-items {
    position: relative;
    width: 150px;
    right: 78px;

    background: #eee;
    padding: 10px 0 10px 0;
    margin-top: 7px;

    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 15px 0 15px 15px;
}

.navBarComponent .navLinks .dropdown .dropdown-items::after {
    border: 8px solid transparent;
    border-bottom-color: #eee;
    border-right-color: #eee;
    content: '';
    top: -15px;
    right: 0px;
    position: absolute;
}

.navBarComponent .navLinks .dropdown li {
    padding: 10px;
    list-style: none;
}

.navBarComponent .navLinks .dropdown li:hover {
    background-color: #0459ae;
}

.navBarComponent .navLinks .dropdown li:hover > a {
    color: #eee;
}

.navBarComponent .navLinks .dropdown li .a {
    min-width: 150px;
    height: 100%;
    margin-top: 10px;
    margin-left: -10px;
    text-decoration: none;
    color: #0459ae;
    padding: 10px 95px 10px 17px;
}

@media only screen and (max-width: 991px) {
    .navBarComponent .navLinks {
        display: flex !important;
        flex-direction: column !important;
    }
    .navBarComponent .navLinks a {
        margin-bottom: 20px !important;
    }
    .navBarComponent .navLinks a:first-child{
        margin-top: 20px;
    }
}