.navBarComponent {
    height: 70px !important;
    background: #0a84e3 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navBarComponent .logoQuadrado {
    width: 175px !important;
    height: 80px !important;
}

.navBarComponent .navLinks {
    display: flex;
    align-items: center;
}

.navBarComponent .navLinks .a {
    text-decoration: none;
    margin-right: 30px;
    color: #eee;
}

.navBarComponent .navLinks .a:hover {
    opacity: 0.6;
}

.navBarComponent .userIcon {
    height: 46px;
    width: 46px;
    border-radius: 50%;
}

.navBarComponent .dropdown-toggle {
    margin: 5px 0 0 15px;
    transform: rotate(-90deg);
}

.navBarComponent .dropdown-menu {
    margin: 65px -50px 0 0 !important;
    transform: rotate(0deg);
}

.navBarComponent .show .dropdown-toggle {
    margin-top: 5px;
    transform: rotate(90deg);
}

.navbar {
    margin: 0;
    padding: 0 16px 0 16px;
    align-items: center;
}
.navbar .navbar-brand {
    height: 70px !important;
    margin-top: -15px;
}
.navbar a.dropNone {
    display: none;
}

@media only screen and (max-width: 991px) {
    .navBarComponent .navLinks {
        display: flex !important;
        flex-direction: column !important;
    }
    .navBarComponent .navLinks a {
        margin-bottom: 20px !important;
    }
    .navBarComponent .navLinks a:first-child {
        margin-top: 30px;
    }
    
    .navbar .navbar-collapse {
        z-index: 1;
        border-radius: 0 0 15px 15px;
        margin-bottom: -290px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        background: #eee;
    }
    .navBarComponent .navLinks .a {
        text-decoration: none;
        margin-right: 30px;
        color: #0a84e3;
    }
    .navbar .ml-auto .userIcon,
    .dropdown-toggle {
        display: none;
    }
    .navbar a.dropNone {
        display: block;
        text-align: center;
        margin-top: 20px;
        text-decoration: none;
        margin-right: 30px;
        color: #0a84e3;
    }
    .navbar a.dropNone:nth-child(odd) {
        margin-bottom: 20px;
        color: red;
    }
    .navbar a.dropNone:hover{
        opacity: 0.6;
    }
    .navbar .dropNone.dropDivider.dropdown-divider {
        border-top: 1px solid #0459ae!important;
        margin: 0 30px;      
    }
    a.profileDropDown {
        padding: 12px 72px 12px 0px !important;
    }
}
