.patientTab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Poppins, sans-serif;
    color: #07387E;
    background-color: #eee;
    border-radius: 15px;
    margin-bottom: 1.5rem;
    padding-right: 2rem;
}

.patientInfos {
    display: flex;
    align-items: center;
}

.patientTab .patientInfos .patientImg{
    border-radius: 25%;
    margin: 0 2rem 0 1rem;
}

.patientTab .patientInfos .minPatient p:first-of-type{
    font: 700 2.5rem Poppins;

}
.patientTab button {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 25%;
}

.patientTab button img {
    width: 3rem;
    height: 3rem;

}


