.searcBarComponent {
  justify-self: end;

  display: flex;
  justify-content: center;
  align-items: center;
}

.searcBarComponent input {
  border-radius: 8px;
  border: none;

  height: 41px;
  width: 400px;
}

.searcBarComponent button {
  background: none;
  border: none;
}

.searcBarComponent img {
  height: 1.5rem;
  margin-top: 0.3rem;
  margin-left: -3rem;
}
