.searcBarComponent {
    justify-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searcBarComponent input {
    height: 41px;
    width: 400px;

    padding: 5px;
    border: none;
    border: 1px solid #0459ae;
    border-radius: 8px;

    background: #eeeeee;
    box-shadow: 15px 10px 4px rgba(0, 0, 0, 0.25);
}

.searcBarComponent button {
    background: none;
    border: none;
}

.searcBarComponent img {
    height: 25px;
    margin-left: -45px;
}
