.psychologistListContainer {
    width: 100%;
    height: 100%;
    color: #eee;

    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #0a84e3 0%, #0a9be3 100%);
}

.psychologistListContainer .content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.psychologistListContainer .searcBarComponent {
    width: 1400px;
    align-self: center;
    justify-content: flex-end;
}

.psychologistListContainer .psy {
    align-self: center;
    margin-top: 1.5rem;
    width: 1400px;
}
.psychologistListContainer .cardToggle {
    display: flex;
    align-items: bottom;
    justify-content: bottom;
    flex-direction: column;
}
.psychologistListContainer .cardToggle button {
    border-color: transparent;
    width: 270px;
    height: 40px;

    border-radius: 25px;
    border: 0;
    color: #fff;
    background-color: #0459ae;

    cursor: pointer;

    font-size: 20px;
    line-height: 36px;
}

.psychologistListContainer .patientTab {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font: 500 1.2rem Poppins;
    color: #07387e;

    background-color: #eee;

    border-radius: 15px;
    margin-bottom: 1.5rem;
    padding: 0.5rem 2rem 0.5rem 1rem;
}

.psychologistListContainer .patientInfos {
    display: flex;
}

.psychologistListContainer .patientTab .patientInfos .patientImg {
    border-radius: 25%;
    width: 100px;
    height: 100px;
    margin: 0 2rem 0 1rem;
}

.psychologistListContainer
    .patientTab
    .patientInfos
    .minPatient
    p:first-of-type {
    font: 700 32px Poppins;
}
.psychologistListContainer .patientTab .button {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 25%;
}

.psychologistListContainer .patientTab .button img {
    width: 40px;
    height: 40px;
    transform: rotate(90deg);
}
.psychologistListContainer button {
    border-color: transparent;
}
