.psychologistListContainer {
    width: 100%;
    height: 100%;
    color: #eee;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #0a84e3 0%, #0a9be3 100%);
}

.psychologistListContainer .content {
    width: 915px;
    height: 700px;
    display: flex;
    background: #eeeeee;
    border-radius: 15px;
    padding: 10px 0 10px 0;
    margin-top: 30px;
    flex-direction: column;
    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25);
    overflow: auto;
}

.psychologistListContainer .searcBarComponent {
    width: 915px;
    align-self: center;
    justify-content: flex-end;
}

.psychologistListContainer .psy {
    align-self: center;
    margin-top: 1.5rem;
    width: 915px;
}
.psychologistListContainer .cardToggle {
    display: flex;
    align-items: bottom;
    justify-content: bottom;
    flex-direction: column;
}
.psychologistListContainer .cardToggle button {
    border-color: transparent;
    width: 270px;
    height: 40px;

    border-radius: 25px;
    border: 0;
    color: #fff;
    background-color: #0459ae;

    cursor: pointer;

    font-size: 20px;
    line-height: 36px;
}

.psychologistListContainer .patientTab {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font: 500 18px Poppins;
    color: #07387e;

    background-color: #eee;

    border: 2px solid #0459ae;

    border-radius: 15px;
    margin: 0 30px 30px 30px;
    padding: 10px 20px 10px 20px;
}

.psychologistListContainer .patientInfos {
    display: flex;
    align-items: center;
}

.psychologistListContainer .patientTab .patientInfos .patientImg {
    border: 1px solid #0459ae;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 40px 0 10px;
}

.psychologistListContainer .patientTab .patientInfos .minPatient .cardName {
    margin: 16px 0 0 0;
    font: 700 32px Poppins;
}
.psychologistListContainer .patientTab .button {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 25%;
}

.psychologistListContainer .patientTab .button img {
    width: 40px;
    height: 40px;
    transform: rotate(90deg);
}
.psychologistListContainer button {
    border-color: transparent;
}
