.psychologistListContainer {
    width: 100%;
    height: calc(100vh - 70px);
    color: #ddd;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.psychologistListContainer .content {
    width: 915px;
    height: 700px;
    display: flex;
    background: #eeeeee;
    border-radius: 15px;
    padding: 10px 0 10px 0;
    margin-top: 30px;
    flex-direction: column;
    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25);
    overflow: auto;
}

.psychologistListContainer .searcBarComponent {
    padding: 30px;
    width: 915px;
    align-self: center;
    justify-content: flex-start;
}

.psychologistListContainer .cardToggle {
    display: flex;
    align-items: bottom;
    justify-content: bottom;
    flex-direction: column;
}
.psychologistListContainer .cardToggle button {
    border-color: transparent;
    width: 270px;
    height: 40px;

    border-radius: 25px;
    border: 0;
    color: #fff;
    background-color: #003A70;

    cursor: pointer;

    font-size: 20px;
    line-height: 36px;
}

.psychologistListContainer .patientTab {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font: 500 18px "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #07387e;

    background-color: #eee;

    border: 3px solid #0459ae;

    border-radius: 15px;
    margin: 0 30px 30px 30px;
    padding: 10px 20px 10px 20px;

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

    min-width: 230px;
}

.psychologistListContainer .patientInfos {
    display: flex;
    align-items: center;
}

.psychologistListContainer .patientTab .patientInfos .patientImg {
    border: 1px solid #0459ae;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 40px 0 10px;
}

.psychologistListContainer .patientTab .patientInfos .minPatient .cardName {
    margin: 16px 0 0 0;
    font: 700 32px "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.psychologistListContainer .patientTab .button {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 25%;
}

.psychologistListContainer .patientTab .button img {
    width: 40px;
    height: 40px;
    transform: rotate(90deg);
}
.psychologistListContainer button {
    border-color: transparent;
}

@media only screen and (max-width: 950px) {
    .psychologistListContainer .content {
        width: 90%;
        margin: auto;
        margin-top: 50px;
        overflow-x: hidden;
    }
    .psychologistListContainer .patients {
        width: 90%;
    }
    .psychologistListContainer .searcBarComponent {
        justify-content: center;
        width: 200%;
    }
    .psychologistListContainer .searcBarComponent input {
        height: 30px;
        width: 30%;
    }
    .psychologistListContainer .searcBarComponent img {
        height: 18px;
        margin-left: -45px;
    }
    .psychologistListContainer .patientTab .patientInfos .minPatient .cardName {
        font: 700 26px Poppins;
    }
    .psychologistListContainer .cardToggle > a {
        text-align: center;
    }
    .psychologistListContainer .patientTab .patientInfos .minPatient {
        word-break: break-word;
    }
}

@media only screen and (max-width: 613px) {
    .psychologistListContainer .patientInfos {
        flex-direction: column;
    }
    .psychologistListContainer .patientTab {
        margin: 0px;
        margin: 20px 18px 50px 18px;
        padding: 14px;
        flex-direction: column;
    }
    .psychologistListContainer .content {
        margin-top: 50px;
        margin-bottom: 50px;
        overflow-x: hidden;
    }
    .psychologistListContainer .patientTab .patientInfos .patientImg {
        margin: 0px;
    }
    .psychologistListContainer .patientTab .patientInfos .minPatient .cardName {
        font: 700 22px Poppins;
    }
    .psychologistListContainer .minPatient {
        width: 100%;
    }
    .psychologistListContainer .cardToggle button {
        width: 200px;
        font-size: 16px;
    }
    .psychologistListContainer .patientTab button {
        margin-top: 20px;
    }
}
