.loginContainer {
    width: 100%;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginContainer .alert {
    position: fixed;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
}

.loginContainer .content {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: #003A70 !important;
}

.loginContainer .section {
    width: 40vw;
}

.loginContainer .section img {
    width: 100%;
}

.loginContainer .section p {
    font: 500 24px "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
}

.loginContainer .section p:first-of-type {
    margin-top: 50px;
    font: 700 66px "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 53px;
}

.loginContainer .form {
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    border-radius: 15px;
    padding: 90px 60px 40px 60px;
    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25);
    color: #003A70;
}

.loginContainer .form span {
    font: 500 26px "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.loginContainer .form .input {
    border-bottom: 3px solid #003A70;
}

.loginContainer .form input {
    width: 320px;
    height: 33px;

    background-color: transparent;
    color: #003A70;
    border: 0;

    font-size: 18px;
    line-height: 27px;
}

.loginContainer .form input::placeholder {
    color: #909090;
}

.loginContainer .form .button {
    width: 200px;
    height: 50px;

    border-radius: 25px;
    border: 0;
    color: #eee;
    background-color: #003A70;

    font-size: 24px;
    line-height: 36px;
}
.loginContainer .form .button:hover {
    background: #0a84e3;
}

.loginContainer .form a {
    width: 250px;
    height: 20px;
    text-decoration: underline;
    color: #003A70;

    font-size: 14px;
    line-height: 16px;
}

.loginContainer .form .userIcon {
    width: 132px;
    height: 132px;
}

.loginContainer .form .forgot {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
@media only screen and (max-width: 1000px) {
    section.section.logoImg {
        display: none;
    }
    .loginContainer .content {
        display: flex;
        flex-direction: column;
        background-image: url('../../assets/images/logo.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    .loginContainer .form {
        height: 450px;
        width: 330px;
        margin: auto;
    }
    .loginContainer .form input {
        width: 240px;
    }
    .loginContainer .form span {
        font: 500 20px "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .loginContainer .form .button {
        width: 120px;
        height: 35px;
        font-size: 16px;
    }
    .loginContainer .form a {
        font-size: 12px;
    }
}
@media only screen and (max-width: 320px) {
    .loginContainer .form {
        height: 540px;
        width: 90%;
    }
}
