.Container{
    background-color: #eee;
}
.div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 100vh;
}
.Container .div p{
    font: 500 4.0rem Poppins;
    color: #095db8;
  	
}
@media only screen and (max-width: 1000px) {
    #notfound {
        width: 300px;
        height: 300px;
    }
    .Container .div p{
        display: flex;
        align-items: center;
        justify-items: center;
        font-size: 20px;
    }

}